# /etc/systemd/system/node_exporter.service

[Unit]
Description=Node Exporter
After=network.target

[Service]
ExecStart=/opt/node_exporter/node_exporter-1.7.0.linux-amd64/node_exporter
Restart=always

[Install]
WantedBy=default.target
